body{
  /* border: 1px solid black; */
  display: block;
  flex-wrap: wrap;
  height: 100%;
  background-color: #ced7e0;
  font-family: "D-DIN", sans-serif;
}

div{
  border: 1px solid black;
}

#recharge-calc{
  display: none;
}

.container{
  text-align: center;
  font-size: 50px;
  width: 100%;
  height: 100%;
}

.label-input{
  font-size: 30px;
  display: block;
  margin-bottom: 20px;
}

.input-container{
  width: 300px;
  height: fit-content;
  display: flex;
  flex-flow: row;
  margin: auto;
  border: none;
}

.text-input{
  width: 50%;
  height: 25px;
  font-size: 50%;
}

.submit-button{
  width: 50%;
  height: 31px;
  font-size: 35%;
}

.toggle-recharge{
  display: none;
}

.toggle-refill{
  display: none;
}

/* For the toggle button */

.title{
  display: flex;
  height: 30%;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

#toggle-text{
  border: 1px solid black;
  margin-right: 10px;
}

#title-text{
  width: 100%;
  align-items: center;
  border: 1px solid black;
}

.toggle-container{
  display: flex;
  align-self: center;
  width: 50px;
  height: 25px;
  cursor: pointer;
  user-select: none;
}

.toggle-button{
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  transition: all .2s ease-in-out;
}

.inner-circle{
  border: 1px solid black;
  position: relative;
  left: 5%;
  top: 8%;
  width: 41%;
  height: 75%;
  border-radius: 50%;
  background-color: white;
  transition: all .2s ease-in-out;
}